<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="cz5h.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A cool thing made by CZ5H.COM" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/TianZonglin/tuchuang/jquery.githubRepoWidget.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nstslider/1.0.13/jquery.nstSlider.min.js"></script>
    <link 
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nstslider/1.0.13/jquery.nstSlider.min.css"
    /> 
    <link 
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css"
    />
    <title>ImageFinder</title>
    <link
      id="favicon"
      rel="icon"
      href="https://cdn.jsdelivr.net/gh/TianZonglin/tuchuang/img/fc.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/style.css" />
    <script src="/script.js" defer></script>
    <script>
      if (location.protocol != "https:") {
        location.href =
          "https:" +
          window.location.href.substring(window.location.protocol.length);
      }
    </script>
  </head>
  <body>
    <header><h1>ImageFinder</h1></header>
    <main>
      <div class="wid">
        <div style="width:84%;float:left">
          <span style="color: #b42b00;font-weight: 600;"
            >警告：切勿在公共图床存储身份证、银行交易截图等私密信息，本站点仅供学习使用。(
            当前版本 v0.1.0 )</span
          >
        </div>
        <div style="float:right;margin-right: -5px;">
          <a href="https://github.com/TianZonglin/ImageFinder" target="_blank"
            ><img
              height="42"
              src="https://cdn.jsdelivr.net/gh/TianZonglin/tuchuang/img/icons8-github-48.png"
          /></a>
        </div>
        <div style="clear:both"></div>
      </div>

      <p style="margin-bottom: 0px;">输入查询信息 ( Github / Gitee )</p>
      <div class="left">
        <div style="visibility:hidden">#</div>
        <div class="form" autocomplete="off">
          <label>
            <span style="font-size:12px;"
              >例如：复制仓库原链 https://github.com/zonelyn/bed，或者<span
                style="color:#c93b0e"
                >复制一张图片地址</span
              >，支持@版本 https://cdn.jsdelivr.net/gh/zonelyn/bed/01.png</span
            ><br />
            <input
              id="wechat"
              type="text"
              maxlength="100"
              required
              placeholder="请输入正确的图床/图片地址！"
            />
          </label>
          <div>
            <button type="button" id="spacex">偷瞄一眼</button>
            <img
              class="load"
              id="google"
              style="height: 23px;margin:0px;display:none;"
              src="https://cdn.jsdelivr.net/gh/TianZonglin/tuchuang/img/ff.gif"
            />
          </div>
        </div>
        <br />
        <div class="form" autocomplete="off">
          <label
            ><span style="font-size:12px;"
              >大家都在看：<span style="color:#ca5d07;">Github</span> &
              <span style="color:#005be4">Gitee</span></span
            ></label
          >
          <div id="avat"></div>
        </div>
        <div class="movebar">
          <span class="ft">调节图片大小(px)：</span>
          <div
            class="nstSlider"
            data-range_min="20"
            data-range_max="300"
            data-cur_min="40"
            data-cur_max="80"
          >
            <div class="bar"></div>
            <div class="leftGrip"></div>
            <div class="rightGrip"></div>
          </div>
          <div style="margin-top: 25px;">
            <span style="float:left;" class="ft"
              >min-width(<span id="maxw"></span>)</span
            >
            <span style="float:right;" class="ft"
              >(<span id="minw"></span>)max-width</span
            >
          </div>
        </div>
      </div>

      <section class="folders" id="folders"></section>
      <br />
      <section class="pictures" id="pictures"></section>
    </main>
    <div style="clear:both"></div>
    <footer>
      <div class="ft">
        <span><b>Github目前已禁止Get返回二级目录Content内容。(2024.3)</b></span
        ><br />
        <span><b>Gitee目前已禁止免费图片外链。(2022.5)</b></span
        ><br />
        <span><b>当前支持查询的方式：</b></span
        ><br />
        <span> 图片地址: https://cdn.jsdelivr.net/gh/name/repo/x.jpg</span
        ><br />
        <span> 仓库原链: https://github.com/name/repo</span><br />
        <span><s> 内部目录: https://github.com/name/repo/tree/main/sub</s></span><br />
        <span><s> 缺省分支: https://github.com/name/repo/sub</s></span><br />
        <span><s> 缺省前缀: /name/repo/sub (仅限Github图床)</s></span> <br />
        <span> <s>其他图床: <u>已支持Gitee，规则同上</u></s></span> <br /><br />
        <div class="wid">
          <span
            ><b>更新：</b><br />
            基础解析,样式调整[v0.0.1]<b>⇒</b>渲染独立页面,伪相册[v0.0.2]<b>⇒</b>引入sqlite,添加最近查看[v0.0.3]<b>⇒</b>补全多种查询方式/只需一个图片地址[v0.0.4]
            <b>⇒</b>添加<span style="color:#9c27b0">子目录</span
            >支持及上下层查看操作![v0.0.5]<b>⇒</b>完善显示逻辑[v0.0.6]<b>⇒</b>添加异常判断[v0.0.7]<b>⇒</b><s>同等支持Gitee仓库,样式区分[v0.0.8]</s><b>⇒</b>添加滚动控制图片缩放[v0.0.9]
            <b>⇒</b>调整布局,优化空间利用[v0.1.0]</span
          ><br />
        </div>

      </div>
      <br />
      <b
        ><a style="color:#664c00" href="https://www.cxmoe.com" target="_blank"
          >Copyright © 程序萌 × CXMOE.COM「2021」</a
        ></b
      >
    </footer>
    <br />
    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?d79d9c89060190dc75cbf0073c6f34c4";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
    <script
      async
      src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"
    ></script>
    <div style="display:none">
      <span id="busuanzi_container_site_pv"
        >本站总访问量<span id="busuanzi_value_site_pv"></span>次</span
      >
    </div>
  </body>
</html>
