<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made by CZ5H.COM">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js" ></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css" />
    <title>偷偷瞄！</title>
    <link id="favicon" rel="icon" href="https://cdn.jsdelivr.net/gh/TianZonglin/tuchuang/img/fc.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js" defer></script>
  </head>
  <body>
    <header>
      <h1>偷偷看看别人都存了什么！</h1>
    </header>
    <main>
      <h2>一定要悄悄地...</h2>
      <p>输入受害人图床的github仓库名称：</p>
      <div class="form" autocomplete="off">
        <label>
          <span style="font-size:12px;">例如：https://github.com/zonelyn/bed (复制仓库原链)</span><br>
          <span style="font-size:12px;">&emsp;&emsp;&emsp;https://cdn.jsdelivr.net/gh/zonelyn/bed/01.png</span><br>
            <span style="font-size:12px;">&emsp;&emsp;&emsp;(复制图片地址,支持@版本)</span>
          <input id="wechat" type="text" maxlength="100" required placeholder="请输入正确的图床/图片地址！">
        </label>
        <div>
        <button type="button" id="spacex">偷瞄一眼</button>
          <img class="load" id="google" style="height: 23px;margin:0px;display:none;" src="https://cdn.jsdelivr.net/gh/TianZonglin/tuchuang/img/ff.gif"/>
        </div> 
      </div>
      <br>
      <div class="form" autocomplete="off">
        <label>
          <span style="font-size:12px;">大家都在看：</span>
        </label>
        <div id="avat">
        </div> 
      </div>
      <br>
      <section class="pictures" id="pictures"></section>
    </main>
     <footer>
          <span style="font-size:12px;">目前支持查询的方式：<br> 图片地址: https://cdn.jsdelivr.net/gh/name/repo/x.jpg</span><br>
          <span style="font-size:12px;"> 仓库原链: https://github.com/username/repo</span><br>
          <span style="font-size:12px;"> 内部目录: https://github.com/username/repo/tree/main/sub</span><br>
          <span style="font-size:12px;"> 缺省分支: https://github.com/username/repo/subfolder</span><br>
          <span style="font-size:12px;"> 缺省前缀: /username/repo/subfolder</span> <br>
       <br>
          <span style="font-size:12px;">更新：<br> 1.0.0: 基础解析，样式调整</span><br>
          <span style="font-size:12px;"> V1.0.1: 渲染独立页面，伪相册</span><br>
          <span style="font-size:12px;"> V1.0.2: 引入sqlite，添加最近查看</span><br>
          <span style="font-size:12px;"> V1.0.3: 补全多种查询方式</span> <br><br><br>
       <br> 
   <b><a style="color:#664c00"  href="https://www.cz5h.com" target="_blank">Copyright × CZ5H.COM「2021」</a></b></footer>
  </body>
</html>

