/* this file is loaded by index.html and styles the page */

* {
  box-sizing: border-box;
}

html{
  background-color:#caad00;
}

.img {
  height: 100px;
  width:auto;
  margin:0px 10px 10px 0px;
  border-radius: 10px;
   box-shadow: 5px 5px 5px rgba(0,0,0,.5);
   /*考虑浏览器兼容性*/
   -moz-box-shadow: 5px 5px 5px rgba(0,0,0,.5);
   -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,.5);
}

.avat {
  height: 40px;
  border: 2px solid #998857;
  cursor:pointer;
  border-radius: 25em;
  margin-bottom: 4px;
  margin-right:8px;
  box-shadow: 3px 2px 3px rgba(0,0,0,.5);
  /*考虑浏览器兼容性*/
  -moz-box-shadow: 3px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 3px 2px 3px rgba(0,0,0,.5);
}

.fancybox {
  padding: 0px;
}

body {
  font-family: sans-serif;
  margin: 2em 2em;
}

h1 {
  color: #664c00;
  max-width: calc(100% - 5rem);
  line-height: 1.1;
}
h2 {
  color: #664c00;
}
.form {
  background-color: #e3e39d;
  display: grid;
  grid-gap: 1em;
  padding: 1em;
  max-width: 500px;
  border-radius: 15px;
}

input {
  border: 1px solid silver;
  display: block;
  font-size: 13px;
  padding: 5px;
  width: 100%;
  background-color: beige;
  border-radius: 20px;
  outline:none;
}

.form button {
  background-color: #e8c867;
  border: 2px solid #998857;
  border-radius: 1.25em;
  cursor: pointer;
  font-size: inherit;
  line-height: 1.4em;
  padding: 0.25em 1em;
  max-width: 20ch;
  outline:none;
}

.form button:hover {
  background-color: lavender;
}

footer {
  margin-top: 1em;
  padding-top: 1.5em;
  border-top: 1px solid #828282;
}

a{
  text-decoration:none;
}