/* this file is loaded by index.html and styles the page */

* {
  box-sizing: border-box;
}

html {
  background-color: #caad00;
}

.img {
  max-height: 60px;
  max-width: 100%;
  margin: 0px 7px 3px 0px;
  border-radius: 7px;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
}

.bao {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin-bottom: 4px;
  margin-right: 8px;
  padding: 1px 0px 0px 1px;
  display: inline-block;
  overflow: hidden;
}

.s {
  float: left;
  display: inline-block;
}

.avat {
  border: 0px;
  height: 45px;
  cursor: pointer;
  border-radius: 40px;
  filter: blur(3px);
}

.fancybox {
  padding: 0px;
}

body {
  font-family: sans-serif;
  margin: 1.5em 1.5em;
}

h1 {
  color: #664c00;
  max-width: calc(100% - 5rem);
  line-height: 1.1;
}
h2 {
  color: #664c00;
}
.form {
  background-color: #e3e39d;
  display: grid;
  grid-gap: 10px;
  padding: 1em;
  max-width: 500px;
  border-radius: 15px;
}

input {
  margin-top: 5px;
  border: 1px solid silver;
  display: block;
  font-size: 13px;
  padding: 5px;
  width: 100%;
  background-color: beige;
  border-radius: 20px;
  outline: none;
}

.form button {
  background-color: #e8c867;
  border: 2px solid #998857;
  border-radius: 1.25em;
  cursor: pointer;
  font-size: inherit;
  line-height: 1.4em;
  padding: 0.25em 1em;
  max-width: 20ch;
  outline: none;
}

.form button:hover {
  background-color: lavender;
}

footer {
  margin-top: 20px;
  padding-top: 1.5em;
  border-top: 1px solid #b4966a;
}

a {
  text-decoration: none;
}

.ft {
  font-size: 12px;
}

.folders > div {
  font-size: 12px;
  font-weight: 600;
  width: 130px;
  height: 60px;
  display: inline-flex;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  background-color: #b99427;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  color: #5b4b1b;
  padding: 10px;
  /* white-space: revert; */
  word-break: break-all;
  overflow: hidden;
  border: 2px solid #87632d;
  cursor: pointer;
}

.te {
  border: 2px solid #227fff;
  box-shadow: 2px 1px 2px #2196F3;
  /*考虑浏览器兼容性*/
  -moz-box-shadow: 2px 1px 2px #2196F3;
  -webkit-box-shadow: 2px 1px 2px #2196F3;
}

.hb {
  border: 2px solid #ca5d07;
  box-shadow: 2px 1px 2px #c37400;
  /*考虑浏览器兼容性*/
  -moz-box-shadow: 2px 1px 2px #c37400;
  -webkit-box-shadow: 2px 1px 2px #c37400;
}

.wid {
  max-width: 500px;
}
.movebar {
  margin-top: 15px;
  margin-bottom: 20px;
  height: 110px;
  border-radius: 10px;
  background-color: #e3e39d;
  padding: 16px;
  max-width: 500px;
}
.nstSlider .leftGrip,
.nstSlider .rightGrip {
  position: absolute;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: -8px;
  background: #e8c867;
  border: 2px solid #9c7130;
}
.nstSlider {
  max-width: 500px;
  width: 100%;
  top: 13px;
  height: 9px;
  background: #d7aa68;
  border: 2px solid #9c7130;
  border-radius: 30px;
}
.nstSlider .bar {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  background: #e8c867;
  border: 2px solid #9c7130;
  height: 9px;
  top: -2px;
}

.left{
  position: relative;
  margin-bottom: 10px;
  max-width: 500px;
  float:left;
}

@media (min-width: 600px) {
  .left{
    margin-right:15px;
    margin-bottom: 0px;
  }
.movebar {
  margin-bottom: 10px;
  }
}