/* this file is loaded by index.html and styles the page */

* {
  box-sizing: border-box;
}

html {
  background-color: #caad00;
}

.img {
  max-height: 100px;
  max-width: 100%;
  margin: 0px 10px 10px 0px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  /*考虑浏览器兼容性*/
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.avat {
  height: 40px;
  border: 2px solid #998857;
  cursor: pointer;
  border-radius: 25em;
  margin-bottom: 4px;
  margin-right: 8px;
  flur: 0.3;
}

.fancybox {
  padding: 0px;
}

body {
  font-family: sans-serif;
  margin: 1.5em 1.5em;
}

h1 {
  color: #664c00;
  max-width: calc(100% - 5rem);
  line-height: 1.1;
}
h2 {
  color: #664c00;
}
.form {
  background-color: #e3e39d;
  display: grid;
  grid-gap: 10px;
  padding: 1em;
  max-width: 500px;
  border-radius: 15px;
}

input {
  margin-top: 5px;
  border: 1px solid silver;
  display: block;
  font-size: 13px;
  padding: 5px;
  width: 100%;
  background-color: beige;
  border-radius: 20px;
  outline: none;
}

.form button {
  background-color: #e8c867;
  border: 2px solid #998857;
  border-radius: 1.25em;
  cursor: pointer;
  font-size: inherit;
  line-height: 1.4em;
  padding: 0.25em 1em;
  max-width: 20ch;
  outline: none;
}

.form button:hover {
  background-color: lavender;
}

footer {
  margin-top: 1em;
  padding-top: 1.5em;
  border-top: 1px solid #828282;
}

a {
  text-decoration: none;
}

.ft {
  font-size: 12px;
}

.folders > div {
  font-size: 12px;
  font-weight: 600;
  width: 130px;
  height: 60px;
  display: inline-flex;
  margin-right: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  background-color: #b99427;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  color: #5b4b1b;
  padding: 10px;
  /* white-space: revert; */
  word-break: break-all;
  overflow: hidden;
  border: 2px solid #87632d;
  cursor: pointer;
}

.te {
  border: 2px solid #227fff;
  box-shadow: 2px 1px 2px #2196F3;
  /*考虑浏览器兼容性*/
  -moz-box-shadow: 2px 1px 2px #2196F3;
  -webkit-box-shadow: 2px 1px 2px #2196F3;
}

.hb {
  border: 2px solid #ca5d07;
  box-shadow: 2px 1px 2px #d9931d;
  /*考虑浏览器兼容性*/
  -moz-box-shadow: 2px 1px 2px #d9931d;
  -webkit-box-shadow: 2px 1px 2px #d9931d;
}

.wid {
  max-width: 500px;
}

.video_bg {
  content: "";
  width: 38.1vw;
  .height(50);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  &:before {
    position: absolute;
    background: #66ccff;
    background-size: cover;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
  }
}
